html {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    display:flex;
    justify-content: center;
    color:White;
    background-color: green;
}

p {
    letter-spacing :1px;
    line-height: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    text-transform: uppercase;
    color:goldenrod;
}